body {
  font-family: Tahoma, sans-serif;
}
body {
   font-size: 2ch;
   font-weight: bold;
   color: #005757;
}
p {
  font-size: 2ch;
  font-weight: bold;
  color: #003f3f;
}
h1 {
  font-size: 2ch;
  font-weight: bold;
  color: #005757;
}
h2 {
  font-size: 2ch;
  font-weight: bold;
  color: #005757;
}
footer p {
  font-size: 2ch;
  font-weight: lighter;
  color: #424040;
  text-align: center;
}
.content-box {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: auto;
  background-color: #26c7c7;
  border: 1px solid ;
  box-sizing: border-box
}
body {
  background-color: #009f9f;
}
.container-fluid {
  background-color: #009f9f;
}
.card-header {
  text-align: center;
  font-size: 5ch;
}
.card-body {
  text-align: center;
}
.img {
  /* max-width: 100%;
  height: auto; */
  max-width: 100%;
  height: auto;
}
.image-wrapper {
  text-align: center;
}
.navbar-nav .nav-link.active {
  color: #005f73 !important;
}